*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    text-align: center;
}

main{
}

#container{
    display: grid;
    width: 500px;
    min-height: 500px;
    margin: 0 auto;
}

.cell{
    border: 1px solid grey;
}