*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    text-align: center;
    background-color: tomato;
}

:root {
    --grid-nums: 1;
}

main{
    background-color: thistle;
    border-radius: 1rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem auto;
    padding: 2rem 3rem;
}
button{
    border: none;
    background-color:rgb(102, 134, 230);
    padding: 1rem;
}


#container{
    padding: 2rem;
    min-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-nums), 1fr);
    grid-template-columns: repeat(var(--grid-nums), 1fr);
}

.cell{
    background-color: rgb(216, 216, 216);
    border: 1px black solid;
}